.listBtn {
    margin: 10px !important;
}

.todoList {
    width: 90%;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 10px 15px 10px 10px;
    box-shadow: 4px 4px 15px #ddd;
    text-align: right;
    border-radius: 20px;
}

.todoList input,
.todo-list-label {
    width: 76%;
    border: none;
    margin: 10px;
    padding: 11px 15px;
    font-size: 17px;
    color: black;
}

.ItemsList {
    display: flex;
    text-align: right;
    align-items: center;
}

@media(max-width:500px) {
    .todoList {
        width: 90%;
        box-sizing: border-box;
        margin: 5px auto;
        float: none;
    }
}